.pb_tooltip {
    position: relative;
    display: inline-block;
}
.pb_tooltip .pb_tooltip_text {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.pb_tooltip:hover .pb_tooltip_text {
    visibility: visible;
    opacity: 1;
}
